/* CSS declarations go here */
body {
	background-color: #F5F5F5;
}

/*.content {
	max-width: 1140px;
	margin: 0 auto;
}
*/


h1 {
	text-align: center;
	text-transform: uppercase;
}

.card-new-recipe {
	width: 550px;
	height: auto;
	margin: auto;
}

.cardTitle-new-recipe {
	color: #fff;
	background-color: #009688;
}

.card-view-recipe {
	width: auto;
	height: auto;
}

.cardTitle-view-recipe {
	background-color: #3F51B5;
	color: #fff;
}

.cardTitle-view-recipe-selected {
	background-color: #8e44ad;
	color: #fff;
}

.cardTitle-des {
	color: #e5e5e5;
}

#login-buttons a {
	text-decoration: none;
}

.login-link-text {
	color: #fff;
}