/* CSS declarations go here */
body {
	background-color: #F5F5F5;
}

/*.content {
	max-width: 1140px;
	margin: 0 auto;
}
*/


h1 {
	text-align: center;
	text-transform: uppercase;
}

.card-new-recipe {
	width: 550px;
	height: auto;
	margin: auto;
}

.cardTitle-new-recipe {
	color: #fff;
	background-color: #009688;
}

.card-view-recipe {
	width: auto;
	height: auto;
}

.cardTitle-view-recipe {
	background-color: #3F51B5;
	color: #fff;
}

.cardTitle-view-recipe-selected {
	background-color: #8e44ad;
	color: #fff;
}

.cardTitle-des {
	color: #e5e5e5;
}

#login-buttons a {
	text-decoration: none;
}

.login-link-text {
	color: #fff;
}

.welcome-ul {
	margin: 150px 0 0 100px;
	list-style-type: none;
}

.welcome-ul li {
	height: 150px;
}

.welcome-ul li div {
	color: #e67e22;
	border: 2px solid #e67e22;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 160%;
	font-weight: 400;
	line-height: 50px;
	float: left;
	margin-right: 40px;
}

.welcome-ul p {
	padding-top: 10px;
	font-size: 1.5em;
}

.animate2 {
	animation-delay: 1s;
}

.animate3 {
	animation-delay: 2s;
}

.animate4 {
	animation-delay: 3s;
}